<div class="row"></div>
<div class="col-2">
  <div class="vl"></div>
  wefwefwefwef
  <!-- <button routerLink="/hr/settings/" class="person_button" [ngClass]="{'active': selectedButton === 'personal'}" (click)="selectButton('personal')">
      <i class="fa fa-exclamation-triangle"></i> Personal Info
    </button> -->
  <br>
  <br>
  <!-- <button routerLink="/hr/settings/security" class="security_button" [ngClass]="{'active': selectedButton === 'security'}" (click)="selectButton('security')">
      <i class="fa fa-lock fa-l"></i> Security
    </button> -->
</div>